@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.product-img { 
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-img > img { 
    max-width: 70%;
}
.product-img-list { 
    display: flex;
    align-items: center;
    justify-content: center;
}   
.product-img-item { 
    width: 90px;
    cursor: pointer;
    margin: 0 10px;
    border: 1px solid black;
}

.product-img-item:hover { 
    background-color: yellowgreen;
}

.product-row { 
    padding: 45px 0;
}

.product-info > * ~ * { 
    margin-top: 25px;
}

.product-info-detail-title { 
    font-weight: 600;
    color: gray;

}
.product-description { 
    font-size: 18px;
    text-align: justify;
}
.product-info-price { 
    font-weight: 600;
    font-size: 30px;
    color: red;
}
.product-quantity-wrapper { 
    display: flex;
    align-items: center;
}
.product-quantity { 
    margin: 0 10px;
    font-size: 25px;
}
.product-quantity-btn { 
    height: 30px;
    width: 30px;
    background-color: gray;
    display: grid;
    place-items: center;
    cursor: pointer;
}
.product-quantity-btn i  { 
    font-size: 20px;
    color: rgb(157, 157, 157);
}

.box-header { 
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.product-detail-description { 
    position: relative;
    margin-bottom: 90px;

}

.product-detail-description-content  {
    text-align: justify;
    line-height: 26px;
    font-size: 16px;
    height: 600px;
    overflow-y: hidden;
    position: relative;
}

.product-detail-description-content.active { 
    height: max-content;
}

.btn-view-description { 
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
}

.user-rate { 
    margin-bottom: 40px;

}


.box {
    padding: 20px;
}

.user-info { 
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;   
}

.user-avt { 
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.pagination > li > a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    margin-left: 5px;
    font-size: 20px;
}

.pagination > li > a.active {
    background-color: black;
    color: white;
}

.pagination > li > a:hover {
    border: 2px solid black;
}

.user-name {
    margin-left: 20px;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-between;
}

.name { 
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.user-rate-content { 
    line-height: 25px;
}